<!--Formulario para agergar y editar estudiantes con Angular material y Reactive forms-->

<h1 appTitleSizeTwo>Añadir/cambiar estudiante</h1>
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
<mat-form-field appearance="fill">
    <mat-label>Nombres</mat-label>
    <input formControlName="studentName" matInput>
    <div *ngIf="studentForm.get('studentName')?.errors?.['required'] && !studentForm.get('studentName')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Apellidos</mat-label>
    <input formControlName="studentSurname" matInput>
    <div *ngIf="studentForm.get('studentSurname')?.errors?.['required'] && !studentForm.get('studentSurname')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Curso</mat-label>
    <mat-select formControlName="course">
      <mat-option value="Angular">Angular</mat-option>
      <mat-option value="Javascript">Javascript</mat-option>
      <mat-option value="PHP">PHP</mat-option>
    </mat-select>
    <div *ngIf="studentForm.get('course')?.errors?.['required'] && !studentForm.get('course')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Clase</mat-label>
    <mat-select formControlName="class">
      <mat-option value="Introducción">Introducción</mat-option>
      <mat-option value="Primera">Primera</mat-option>
    </mat-select>
    <div *ngIf="studentForm.get('class')?.errors?.['required'] && !studentForm.get('class')?.pristine" class="alert alert-danger">Campo requerido</div>
  </mat-form-field> 
  <button [disabled]="studentForm.invalid" mat-raised-button color="accent" type="submit">Enviar</button>
</form>