<!--Lista de estudiantes con table de Angular material-->

<h1 appTitleSize>Lista de estudiantes</h1>
<table #table mat-table [dataSource]="students" class="mat-elevation-z8">

    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef>Estudiante</th>
      <td mat-cell *matCellDef="let element">{{element.studentName | names: element.studentSurname}}</td>
    </ng-container>

    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef>Curso</th>
      <td mat-cell *matCellDef="let element">{{element.course}}</td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef>Clase</th>
      <td mat-cell *matCellDef="let element">{{element.class}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element" >
          <button mat-icon-button aria-label="Edit icon" (click)="editStudent(element)">
            <mat-icon>edit</mat-icon>
          </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> 
        </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Delete icon" (click)="deleteStudent(element)">
              <mat-icon>delete</mat-icon>
            </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--Añadir nuevo estudiante-->

<div class="button-container">
    <button mat-raised-button color="accent" (click)="addStudent()">Nuevo estudiante</button>
</div>