<!--Barra lateral desplegable-->

<mat-drawer-container class="example-container" autosize>

  <!--Menú lateral-->

    <mat-drawer #drawer class="example-sidenav" mode="side">

      <mat-list role="list" class="side-menu">
        <mat-list-item role="listitem">
          <mat-icon class="menu-icon" aria-hidden="false" aria-label="list">list</mat-icon>&nbsp;<a [routerLink]="'/students/list'">Lista de estudiantes</a>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon class="menu-icon" aria-hidden="false" aria-label="person">person</mat-icon>&nbsp;<a [routerLink]="'/students/add-edit_student'">Añadir nuevo estudiante</a>
        </mat-list-item>
      </mat-list>
      
    </mat-drawer>

  <!--Contenido principal-->

    <div class="example-sidenav-content">

      <div class="sp-content">
        <div class="button-container">
          <button type="button" mat-stroked-button color="accent" (click)="drawer.toggle()"><span class="material-icons">menu_open</span>Menú lateral</button>
        </div>
        <router-outlet></router-outlet>

      </div>
      
    </div>
  
</mat-drawer-container>
  